################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/ITStep/v17/Browse.VC.db
/.vs/ITStep/v17/Browse.VC.db-wal
/.vs/ITStep/v17
