body
{
    font-family: 'Akshar', sans-serif;
    background: #DCDCDC;
}
.box h1
{
    text-align: center;
    font-size: 36px;
    color: #191970;
}
.box h2
{
    color: #708090;
}
.box p
{
    color: black;
    font-size: 16px;
}
